.editable-tag {
  padding: 0 2px;
  margin: 0 2px;
  border-radius: 4px;
  cursor: pointer;

  &:empty::after {
    content: attr(lofi-placeholder);
    opacity: 0.5;
  }

  &::before {
    content: attr(lofi-mention);
    padding-right: 4px;
  }

  &[contenteditable='true'] {
    outline: transparent !important;
  }
}
